.registerTotal {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.registerTitle {
  color: #0065b4;
  font-size: 24px;
  font-family: Noto Sans TC;
  margin-top: 120px;
  margin-bottom: 60px;
  margin-left: 200px;
}
.registerTitle1 {
  color: #0065b4;
  font-size: 24px;
  font-family: Noto Sans TC;
  margin-top: 60px;
  padding-bottom: 30px;
  margin-bottom: 60px;
  margin-left: 200px;
  width: 1060px;
  border-bottom: 1px solid #0065b4;
}
.registerInput > label {
  width: 80px;
  text-align: right;
  font-size: 16px;
  color: #0065b4;
  font-family: Noto Sans TC;
}
.registerInput > input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: black;
  width: 750px;
  height: 44px;
  margin-left: 30px;
}
.registerInput > input:hover {
  background-color: rgb(190, 188, 188);
}
.inputLeft {
  margin-top: 60px;
  margin-bottom: 25px;
  margin-left: 240px;
}
.registerInput,
.registerRadio,
.registerCheck {
  margin-bottom: 25px;
}

.rad {
  margin-left: 30px;
  color: #0065b4;
  font-size: 24px;
  font-family: Noto Sans TC;
}
.chk {
  margin-right: 30px;
}

.registerBtn {
  background-color: #0065b4;
  color: #f9f9f9;
  border: 0;
  width: 275px;
  height: 50px;
  box-shadow: 1px 1px 1px rgb(117, 116, 116);
  margin-top: 15px;
}

/* Carousel */

.registerCarousel {
  width: 800px;
  height: 1500px;
  overflow: hidden;
  /* margin: 0 auto; */
  /* 遮罩 寬度及高度*/
  position: relative;
  /* 綁下方點選btn */
  margin-top: 60px;
}

.registerCarouselUl {
  /* 去除<li> 的空間 */
  padding-left: 0;
  /* 去除<li>的符號 */
  list-style: none;
  width: 5600px;
  /* 要另外加最前與最後兩張照片，所以總共是(5+2)*800 */
  /* 會等於是 每張顯示的圖片寬度* 總張數 */
  /* 整體圖片寬度 */
  display: flex;
  height: 100%;
}
.registerCarouselUl li {
  flex-shrink: 1;
  /* flex-basis: 0; */
  /* flex-grow: 1; */
}

.registerCarouselUl img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.registerCarouselSlider_dots {
  list-style: none;
  position: absolute;
  bottom: 0;

  left: 50%;
  transform: translateX(-50%);
  /* 將點選格移至中間 先left 50% 後，再 用translateX(-50%) 修正 */
  display: flex;
}
.registerCarouselSlider_dots li {
  list-style: none;
  width: 40px;
  height: 10px;
  border: 2px solid rgb(255, 253, 253);
  display: block;
  margin-right: 5px;
}

/* .registerCarouselLeft_arrow .registerCarouselRight_arrow {
  width: 80px; */
/* background-color: #ccc; */

/* 測試點籍範圍 */
/* display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  position: absolute;
  bottom: 0;
  top: 0;
} */
/* .registerCarouselLeft_arrow {
  left: 0;
} */
/* .registerCarouselRight_arrow {
  right: 0;
} */

/* CSS最後修改樣式 */
.usersRegisterUaccoLab {
  margin-left: 60px;
}
.usersRegisterUpwdLab {
  margin-left: 60px;
}
.usersRegisterUchkpwdLab {
  margin-left: 30px;
}
.usersRegisterUmailLab {
  margin-left: 45px;
}
.usersRegisterUphoneLab {
  margin-left: 60px;
}
.usersRegisterUnameLab {
  margin-left: 60px;
}
.usersRegisterUgenderLab {
  margin-left: 60px;
  color: #0065b4;
  font-size: 16px;
  font-family: Noto Sans TC;
}
.usersRegisterUTWIdLab {
  margin-left: 12px;
}
.usersRegisterUbirthLab {
  margin-left: 12px;
}
.usersRegisterUaddrLab {
  margin-left: 60px;
}
.usersRegisterUcountryLab {
  margin-left: 60px;
}
.usersRegisterUcityLab {
  margin-left: 60px;
}
.usersRegisterUtownshipLab {
  margin-left: 35px;
}
.usersRegisterUstreetLab {
  margin-left: 60px;
}
.registerCheck {
  margin-left: 70px;
}
.invalid-feedbackReg {
  margin-left: 120px;
  margin-top: 10px;
  color: red;
}
.invalid-feedbackRegchk {
  margin-left: 47px;
  margin-top: 10px;
  color: red;
}
