/* Bgc */
.usersDiscountBgc{
    width: 1200px;
    height: 900px;
    background-color: #f9f9f9;
    padding-top: 30px;
    margin: 10px auto;
  }
  /* title */
  .memberTextTitle {
    color: #0065b4;
    font-size: 24px;
    font-family: Noto Sans TC;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 60px;
  }
  
  .memberConnect {
    margin: 0 auto;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #0065b4;
    margin-bottom: 60px;
  }
  .memberConnect > a {
    color: #0065b4;
    font-size: 30px;
    font-family: Noto Sans TC;
    text-decoration: none;
  }
  
  /* 表格 */
  
  .usersDiscountdiv {
    color: #0065b4;
    font-size: 20px;
    font-family: Noto Sans TC;
    width: 1000px;
    margin: 20px auto;
    text-align: center;
  }
  .usersDiscountTitle {
    background-color: #0065b4;
    height: 50px;
    color: #f9f9f9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .usersDiscountTitle div {
    text-align: center;
    width: 200px;
  }
  .usersDiscountText {
    margin-top: 20px;
    margin-bottom: 5px;
    width: 1200px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #0065b4;
  }
  
  .usersDiscountText div {
    text-align: center;
    width: 200px;
  }
  
  